<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="paolo.disney.party_management">

    <application>

        <activity
            android:name=".platform.front.common.views.GuestManagementActivity"
            android:exported="true"
            android:label="Select Guests">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>